// you could put these colours in a SASS map and look them up programmatically
// https://sass-lang.com/documentation/modules/map
// but is it easier or clearer than writing them out?
// I think in this case, no. Always choose the simplest, easiest, clearest option
:root {
  --theme-color-paper: rgba(255, 255, 255, 1);
  --theme-color-ink: rgba(0, 0, 0, 1);
  --theme-color-highlight: rgba(0, 0, 0, 1);
  --theme-color-shade: rgba(0, 0, 0, 1);

  @media (prefers-color-scheme: dark) {
    --theme-color-paper: rgba(0, 0, 0, 1);
    --theme-color-ink: rgba(255, 255, 255, 1);
    --theme-color-highlight: rgba(0, 0, 0, 1);
    --theme-color-shade: rgba(0, 0, 0, 1);
  }
}
