.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
}

.app__header, 
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*  Search bar */



/* Current weather */




