.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
}

.app_header, 
.app_main {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*  Search bar */


.app-header {
  background-color: #759DD2;
  height: 70px;
  padding: 10px 150px;
  color: white;
  text-align: left;
  font-family: Raleway;
  font-size: 2em;
  
}

.btn {
  background-color: #759DD2;

}

/* Current weather */


.app_main {
   background-color: #9CCDF2;
   height: 100%;
}













