.app {
  height: 100%;
  width: 100%;
  transition: background-color 1s ease-in;
  background-color: lightskyblue;
  font-family: "Raleway";
}

.app__header {
  background-color: dodgerblue;
  color: white;
  display: flex;
  height: 80px;
}
.app__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*  Search bar */

.btn {
  color: darkblue;
  border: 1px solid rgb(0, 102, 255);
  background-color: rgb(0, 102, 255);
  padding: 10px 30px 10px 30px;
  margin: 15px;
  position: relative;
  left: 200px;
  font-size: 15px;
  display: inline;
}
.text {
  background: transparent;
  border: none;
  color: white;
  font-size: 20px;
  outline: none;
  position: relative;
  left: 15px;
}
.text:hover {
  border-bottom: 1px solid lightskyblue;
}
::placeholder {
  color: white;
}

/* Current weather */
.main-img {
  width: 25%;
}
.flex-container1 {
  display: flex;
  flex-direction: column;
}
.title {
  text-align: center;
  color: white;
}
.temp {
  color: darkblue;
  font-size: 20px;
}
.tempInfo {
  color: darkblue;
  margin: 5px;
  font-size: 13px;
}
.flex-container {
  display: flex;
  color: darkblue;
  flex-direction: row;
  width: 75%;
  text-align: center;
}
.flex-box1 {
  justify-content: space-around;
}
.flex-box2 {
  justify-content: space-around;
}
.flex-box3 {
  justify-content: space-around;
}
.flex-box5 {
  justify-content: space-around;
}
.flex-box6 {
  justify-content: space-around;
}
.flex-box7 {
  justify-content: space-around;
}
.img-size {
  width: 40%;
}
@media (max-width: 576px) {
  .flex-container1 {
    display: flex;
    flex-direction: column;
  }
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  .tempInfo {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .text {
    position: relative;
    left: 50px;
  }
  .btn {
    position: relative;
    left: 50px;
  }
  @media (max-width: 768px) {
    .flex-container1 {
      display: flex;
      flex-direction: column;
    }
    .tempInfo {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .flex-container {
      display: flex;
      flex-direction: column;
    }
    .tempInfo {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .text {
      position: relative;
      left: 50px;
    }
    .btn {
      position: relative;
      left: 50px;
    }
  }
  @media (max-width: 992px) {
    .flex-container1 {
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    .flex-container {
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    .tempInfo {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .text {
      position: relative;
      left: 50px;
    }
    .btn {
      position: relative;
      left: 50px;
    }
  }
}
